body
{
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-style: normal;
}

nav 
{
    height: 44px;
    max-height: 44px;
    background-color: rgba(0, 0, 0, 0.92);
}

.menu
{
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

.menu ul 
{
    width: 100%;
    margin: 0 -10px;
    display: flex;
    justify-content: space-between;
    height: 44px;
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

.menu ul li
{
    list-style: none;
}

.menu ul li , .menu ul li a
{
    color: #f5f5f7;
    line-height: 50px;
    text-decoration: none;
}

.menu ul li
{
    font-size: 1em;
}

.fa.fa-apple 
{
    font-size: 20px;
}

.menu ul li a.menu-item
{
    transform: scale(1);
    transition: 0.5s;
    display: block;
}

.menu ul li a.menu-item.hide-item
{
    transform: scale(0);
}

/* When hide */
.menu ul li:nth-child(2) a.menu-item.hide-item
{
    transition-delay: 0.6s;
}
.menu ul li:nth-child(3) a.menu-item.hide-item
{
    transition-delay: 0.5s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item
{
    transition-delay: 0.4s;
}
.menu ul li:nth-child(5) a.menu-item.hide-item
{
    transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item.hide-item
{
    transition-delay: 0.2s;
}
.menu ul li:nth-child(7) a.menu-item.hide-item
{
    transition-delay: 0.1s;
}
.menu ul li:nth-child(8) a.menu-item.hide-item
{
    transition-delay: 0s;
}

/* When show */
.menu ul li:nth-child(2) a.menu-item
{
    transition-delay: 0s;
}
.menu ul li:nth-child(3) a.menu-item
{
    transition-delay: 0.1s;
}
.menu ul li:nth-child(4) a.menu-item
{
    transition-delay: 0.2s;
}
.menu ul li:nth-child(5) a.menu-item
{
    transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item
{
    transition-delay: 0.4s;
}
.menu ul li:nth-child(7) a.menu-item
{
    transition-delay: 0.5s;
}
.menu ul li:nth-child(8) a.menu-item
{
    transition-delay: 0.6s;
}

.search-form
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(0);
    width: 600px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.search-form.active
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
    transform: translateX(-50%);
}

.search-form input 
{
    width: 100%;
    height: 34px;
    margin-top: 5px;
    background-color: transparent;
    padding-left: 40px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.search-form i
{
    position: absolute;
    top: 14px;
    left: 12px;
    color: rgb(134, 134, 139);;
}

.search-form input::placeholder
{
    color: rgb(134, 134, 139);;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    color: rgb(134, 134, 139);
    line-height: 50px;
    font-size: 18px;
    text-align: right;
    width: 15px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.close.active 
{
    opacity: 1;
    visibility: visible;
}
